body{
background-image:-moz-linear-gradient(30deg, red, purple);
background-image:-webkit-linear-gradient(30deg, red, purple);
background-image:-o-linear-gradient(30deg, red, purple);
background-image:linear-gradient(60deg, red, purple);
}
p {
	color: yellow;
}
h1 {
	color: yellow;
}
h2 {
	color: yellow;
}